.product-cards {
  display: grid;
  grid-template-columns: 332px;
  grid-template-rows: repeat(3, 423px) repeat(6, 432px);
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  margin-left: 32px;

  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: repeat(2, 332px);
    grid-template-rows: repeat(3, 423px) repeat(2, 432px);
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    margin-left: 32px;
  }

  @media (min-width: 1400px) {
    display: grid;
    grid-template-columns: repeat(3, 332px);
    grid-template-rows: repeat(3, 423px);
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    margin-left: 16px;
  }
}

.product-card {
  display: flex;
  flex-direction: column;
  text-align: left;
  background-color: $basic-white;
  color: $basic-black;

  & picture {
    width: 332px;
    height: 200px;
    border-radius: 4px 4px 0px 0px;
  }

  & h2 {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    padding: 16px 0 0 16px;
  }

  &_description {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    padding: 16px 0 0 16px;
  }

  &_price {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    padding: 32px 0 0 16px;
  }
}
