$basic-white: rgba(255, 254, 251, 1);
$basic-grey: rgba(229, 229, 229, 1);
$basic-black: rgba(63, 63, 63, 1);
$special-grey: rgba(73, 72, 94, 1);
$light-grey: rgba(180, 180, 180, 1);
$basic-green: rgba(123, 174, 115, 1);

