.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  background-color: $basic-grey;
  padding-top: 32px;
  width: 100%;

  & h1 {
    padding-left: 32px;
    padding-bottom: 16px;
    font-weight: 600;
    font-size: 28px;
    line-height: 35px;
  }
}
